<%= render '/shared/banner' %>

<% if carousel? %>
<div id="carousel">
  <div class="navi">
    <% carousel_items.each_with_index do |page, index| %>
      <%= link_to index + 1, "##{carousel_page(index)}", class: index.zero? ? "active" : "" %>
    <% end %>
  </div>

  <button class="prev browse">&lsaquo;</button>
  <div class="scrollable">
    <div class="items">
      <%= render partial: '/shared/carousel', collection: carousel_items %>
    </div>
  </div>
  <button class="next browse">&rsaquo;</button>
</div>
<% end %>

<%= body do %>
  <%= main do %>
    <div class="panes">
      <div id="show_blog_post">
        <%= render :partial => "/refinery/blog/shared/post", :object => Refinery::Blog::Post.latest %>
      </div>
    </div>
  <% end %>

  <%= sidebar do %>
    <%= render 'shared/fb_like_box' %>
  <% end %>
<% end %>
