<%= simple_form_for(@competition) do |f| %>
  <%= f.input :name, :label => "Your Name", :required => false %>
  <%= f.input :email, :label => "Email Address", :required => false %>
  <%= f.input :team_name, :label => "Team Name", :required => false %>
  <%= f.input :telephone, :label => "Telephone number" %>  
  <%= f.input :favorite_mariner, :label => "Favorite Mariner" %>
  <%= f.input :comments, :as => :text, :label => "Comments", :required => false, :error => false %>

  <%= f.button :submit, :class => 'submit', :value => "Enter Competition" %>
  <%= f.input :terms, :label => "I accept the <a href='/competitions/terms' target='_blank'>terms and conditions</a> of the competition", :label_html => {:class => 'terms'} %>
<% end %>
