<h1>Listing competitions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Team name</th>
    <th>Favorite mariner</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitions.each do |competition| %>
  <tr>
    <td><%= competition.name %></td>
    <td><%= competition.team_name %></td>
    <td><%= competition.favorite_mariner %></td>
    <td><%= competition.email %></td>
    <td><%= competition.telephone %></td>
    <td><%= competition.comments %></td>
    <td><%= link_to 'Show', competition %></td>
    <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <td><%= link_to 'Destroy', competition, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition', new_competition_path %>
