<h2>Useful Links</h2>
<p>Below are some links you may find useful</p>
<div class="logos">
  <p><%= link_to image_tag('logos/mariners-link.png'), 'http://www.ccmariners.com.au', :target => '_blank' %></p>
  <p><%= link_to image_tag('logos/pele.png'), 'http://www.pele-sports.com.au/', :target => '_blank' %></p>
  <p><%= link_to image_tag('logos/facebook.png'), 'http://www.facebook.com/pages/Soccer5s/124555744270317', :target => '_blank' %></p>
  <p><%= link_to image_tag('logos/twitter.png'), 'http://twitter.com/soccer5s', :target => '_blank' %></p>
  <p><%= link_to image_tag('logos/ruaridh.png'), 'http://www.ruaridh-currie.com', :target => '_blank' %></p>
  <p><%= link_to image_tag('logos/thecentralcoast.png'), 'http://www.thecentralcoast.com.au/', :target => '_blank' %></p>
</div>