<ul id="main-menu">
  <li id="home-link"><%= link_to "Home", root_path %></li>
  <li id="what-link"><%= link_to "What is 5-a-side", what_path %></li>
  <li id="facility-link"><%= link_to "Facilities", facilities_path %></li>
  <li id="events-link"><%= link_to "Events", events_path %></li>
  <li id="training-link"><%= link_to "Training", training_path %></li>
  <li id="competition-link"><%= link_to "Competition", comp_path %></li>
  <li id="about-link"><%= link_to "About Us", about_path %></li>
  <li id="contact-link"><%= link_to "Contact", new_contact_path %></li>
</ul>
