<ul id="main-menu">
  <li id="home-link" class="active"><%= link_to "Home", "#" %></li>
  <li id="what-link"><%= link_to "What is 5-a-side", "#" %></li>
  <li id="facility-link"><%= link_to "Facilities", "#" %></li>
  <li id="kids-link"><%= link_to "Kids Parties", "#" %></li>
  <li id="training-link"><%= link_to "Training", "#" %></li>
  <li id="leagues-link"><%= link_to "Leagues", "#" %></li>
  <li id="about-link"><%= link_to "About Us", "#" %></li>
  <li id="contact-link"><%= link_to "Contact", "#" %></li>
</ul>
