<%= link_to t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name), '#' %> |
<%= link_to 'Contact', refinery.inquiries_new_inquiry_path %> |
<%= link_to 'Careers', refinery.inquiries_new_inquiry_path %> |
<%= link_to 'Corporate Site', refinery.inquiries_new_inquiry_path %>

<div class="social">
  <%= link_to image_tag('logos/facebook-icon.png'), 'http://www.facebook.com/pages/Soccer5s/124555744270317' %>
  <%= link_to image_tag('logos/twitter-icon.png'), 'http://twitter.com/soccer5s' %>
</div>
