<%= render '/shared/banner' %>

<%= body do %>
  <%= main do %>
    <ul class="tabs">
      <li><a href="#form" class="current">Contact Form</a></li>
      <li><a href="#map">Location Map</a></li>
    </ul>

    <div class="panes">
      <div>
        <%=raw @page.content_for(:body) %>

        <%= simple_form_for [refinery, :inquiries, @inquiry] do |f| %>
          <%= f.input :name,  label: "Your Name <span>(required)</span>".html_safe, :required => false %>
          <%= f.input :email, label: "Email Address <span>(required)</span>".html_safe, :required => false %>
          <%= f.input :phone, label: "Telephone number <span>(required)</span>".html_safe, required: false %>
          <%= f.input :message, :as => :text, :label => "Your Message".html_safe, :required => false, :error => false %>
          <%= f.input :bot_protection, label: "Don't fill this in", wrapper_html: {style: 'display: none;'} %>

          <%= f.button :submit, :class => 'submit', :value => t('.send') %>
          <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
        <% end %>
      </div>

      <div style="display: none;">
        <h2>Map</h2><br>
        <iframe width="580" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Soccer5s,+Bryant+Drive,+Tuggerah,+NSW,+2259,+Australia&amp;aq=0&amp;oq=Soccer1+Bryant+Drive+Tuggerah+NSW+2259&amp;sll=-33.310948,151.422501&amp;sspn=0.012176,0.021822&amp;gl=ca&amp;ie=UTF8&amp;hq=Soccer5s,&amp;hnear=Bryant+Dr,+Tuggerah+New+South+Wales+2259,+Australia&amp;t=m&amp;cid=13412483988757976693&amp;ll=-33.290719,151.398726&amp;spn=0.025111,0.049782&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Soccer5s,+Bryant+Drive,+Tuggerah,+NSW,+2259,+Australia&amp;aq=0&amp;oq=Soccer1+Bryant+Drive+Tuggerah+NSW+2259&amp;sll=-33.310948,151.422501&amp;sspn=0.012176,0.021822&amp;gl=ca&amp;ie=UTF8&amp;hq=Soccer5s,&amp;hnear=Bryant+Dr,+Tuggerah+New+South+Wales+2259,+Australia&amp;t=m&amp;cid=13412483988757976693&amp;ll=-33.290719,151.398726&amp;spn=0.025111,0.049782&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
    </div>
  <% end %>

  <%= sidebar do %>
    <%= render 'shared/fb_like_box' %>
  <% end %>
<% end %>
