<% content_for :slogan do %>
  <%= render :partial => '/shared/std_slogan' %>
<% end %>

<% content_for :banner do %>
  <h2 id="title">Events</h2>
<% end %>

<% content_for :sidebar do %>
  <h2>Useful Links</h2>
  <p>Below are some links you may find useful</p>
  <p><a href="http://www.worldsoccershop.com">www.worldsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.foxsoccershop.com">www.foxsoccershop.com</a> - buy you soccer gear here and get a 25% discount</p>
  <p><a href="http://www.diadora.com.au">www.diadora.com.au</a> - buy you soccer gear here and get a 25% discount</p>
<% end %>


<div id="main">
  <ul class="tabs">
    <li><%= link_to "Kids Parties", "#kids" %></li>
    <li><%= link_to "Corporate Events", "#corporate" %></li>
    <li><%= link_to "Social Events", "#social" %></li>
    <li><%= link_to "Tournaments", "#tournaments" %></li>
  </ul>
  
  <div class="panes">
    <div class="kids">
      <h2>Kids Parties</h2>
      <p>Soccer5s has packages available to ensure your kids have a wonderful time at our centre. We can tailor each individual party to your specific needs.</p>
      <span>Our packages can include:</span>
      <ol>
        <li>Various pitch time allocations</li>
        <li>Party Food</li>
        <li>Referees</li>
        <li>Trophies</li>
        <li>Individual Medals</li>
        <li>A party Host</li>
        <li>Cakes</li>
      </ol>
      <p>Enquire to Soccer5s and take one of our current packages. Alternatively we can arrange a package for your individual needs.</p>
    </div>
    
    <div class="corporate">
      <h2>Corporate Events</h2>
      <p>Soccer5s recognise the needs of companies to hold events for various reasons. We offer exclusive packages for business and are available for companies at all times to suit their needs.  Soccer5s can also cater for corporate leagues during lunch breaks and mornings.</p>
      <span>Soccer5s can provide:</span>
      <ol>
        <li>Weekly internal work leagues</li>
        <li>One off work tournaments and matches</li>
        <li>Block bookings</li>
        <li>Team Building Events</li>
        <li>Competitions between different companies</li>
        <li>Referees</li>
        <li>Trophies</li>
        <li>Individual Medals</li>
        <li>Event Hosts</li>
        <li>Catering</li>
      </ol>
      <p><%= link_to "Contact", new_contact_path %> Soccer5s and we will fulfil your corporate needs.</p>
      <p class="quote">'The bragging rights at the office could be all yours'</p>
    </div>
    
    <div class="social">
      <h2>Social Events</h2>
      <p>Play every week with your friends and suit your own needs and rules. Hire of Soccer5s are available for one off and weekly block bookings. You can even book your favourite pitch at your favoured time every week and get your friends together and play.  Create your own excuse to meet your friends and enjoy yourselves.</p>
      <p class="quote">'You can be the star man at the pub who scored the winner.'</p>
    </div>
    
    <div class="tournaments">
      <h2>Tournaments</h2>
      <p>Soccer5s can help you organize your own tournaments. Many people put on events and Soccer5s will help you with all of this to make sure your event is run smoothly with enjoyment for all.  These tournaments can be officiated and managed by Soccer5s on your behalf. We encourage individuals, football clubs, charities and all aspects of the community to get involved and be a part of Soccer5s.</p>
      <p class="quote">'Be the captain for the day, live the dream'</p>
    </div>
  </div>
  
</div>