<% content_for :slogan do %>
  <%= render :partial => '/shared/enhanced_slogan' %>
<% end %>

<% content_for :banner do %>
  <div class="info bg"><!-- --></div>
  <div class="info">
    <p>For information on Soccer5s official kick off email <%= mail_to "info@soccer5s.com" %></p>
  </div>
  <div id="home_links">
    <%#= link_to 'Kit Store', '#', :class => 'button' %>
    <%= link_to 'Leagues', "http://soccer-5s.ezleagues.ezfacility.com", :class => 'button', :target => '_blank' %>
    <%= link_to 'Mariners Competition', new_competition_path, :class => 'button' %>
  </div>
<% end %>

<% content_for :carousel do %>
  <div class="items">
    
    <div class="page">
		  <p class="page-number">01</p>
		  <%= image_tag 'carousel/mariners-competition.jpg' %>
		  <h2>Join a league</h2>
		  
      <div class="col">
        <h2>Call <span>02 4355 4805</span> now!</h2>
      </div>
      
      <div class="col">
        <p>Opens 5th December, Leagues for all ages and abilities</p>        
        <p>If you don't have a team we can put your name down and help you find a team</p>
      </div>
		</div>
		
    <div class="page mariners">
		  <p class="page-number">02</p>
		  <%= link_to 'Mariners Competition', new_competition_path, :class => 'button mariners' %>
		  <%= image_tag 'carousel/mariners-competition.jpg' %>
		  <h2>Mariner's Competition</h2>
		  
		  <div class="col">
		    <p>Click <%= link_to 'here', new_competition_path %> for your chance to play the Central Coast Mariners Select at 5-a side football during Soccer5s official launch tournament at The Centre of Excellence in Tuggerah.
        </p>
        
		  </div>
		  
		  <div class="col"></div>
		</div>
    
    <div class="page">
      <p class="page-number">03</p>
      <%= image_tag 'carousel/what.jpg' %>
      <h2>What is <span>5-a-side</span></h2>
      <div class="col">
        <p>Five-a-side football is a phenomenon which began in Scotland and took over in the UK as the highest regular participation sport for soccer players.</p>        
      </div>
      <div class="col">
        <p>
        This game is fast, fun and contagious and helps players to develop ball control and tactical awareness. 5-a-sides can be played by people of varying skill set. You can play any way you want in leagues, tournaments, casual games and even club training.</p>
      </div>
    </div>
		
		<div class="page">
		  <p class="page-number">04</p>
		  <%= image_tag 'carousel/facilities.jpg' %>
		  <div class="more bg"><!-- --></div>
		  <%= link_to "Find out more >", facilities_path, :class => 'more' %>
		  <h2>Facilities</h2>
		  <div class="col">
		    <p>We have 8 All Weather five-a-side Pitches and 2 All Weather seven-a-side Pitches</p>
		  </div>
		  <div class="col">
		    <ul>
		      <li><span><%= link_to "EPL standard Changing Rooms", facilities_path(:anchor => 'rooms') %></span></li>
		      <li><span><%= link_to "Sports Bar", facilities_path(:anchor => 'bar') %></span></li>
		      <li><span><%= link_to "five-a-side specific Astroturf", facilities_path(:anchor => 'astroturf') %></span></li>
		    </ul>
		  </div>
		</div>
  </div>
<% end %>

<div id="sidebar">
  <div class="logos">
    <span class="std"><%= image_tag '/images/about.jpg' %></span>
  </div>
</div>

<div id="main">
  <div class="panes">
    <h2>Soccer5<span class="lower">s</span> Australia - Now Open</h2>
    <p>Soccer5s is proud to announce, the opening our first site in Australia. We have 8 five-a-side pitches and 2 seven-a-side pitches. The soccer pitches are in Tuggerah at the Mariners Centre of Excellence. We have formed a unique partnership with the Central Coast Mariners at the development. Soccer5s and the Central Coast Mariners will strive to encourage football development and community involvement throughout the Central Coast. 5-a-sides is great for the entire community and we will provide competitions for men, women and enthusiastic young people and teenagers. Ladies can show off their skills in mixed leagues and prove that soccer isn't just for the boys!</p>
    
    <p>Soccer5s are excited to be involved in the Mariners vision for the development, we look forward to the growth of the beautiful game in the Central Coast and throughout Australia.</p>
    <p>John Smith<br />
    Operations Director</p>
      <p class="forward"><%= link_to '> Find out more', facilities_path %></p>
  </div>
</div>