<% content_for :slogan do %>
  <%= render :partial => '/shared/enhanced_slogan' %>
<% end %>

<% content_for :banner do %>
  <div class="info bg"><!-- --></div>
  <div class="info">
    <p>For information on Soccer5s official kick off email <%= mail_to "info@soccer5s.com" %></p>
  </div>
  <div id="home_links">
    <%#= link_to 'Kit Store', '#', :class => 'button' %>
    <%= link_to 'Leagues', "http://soccer-5s.ezleagues.ezfacility.com", :class => 'button', :target => '_blank' %>
    <%= link_to 'Join a League', new_contact_path(contact: {subject: 'Join a League Interest'}), :class => 'button' %>
  </div>
<% end %>

<% content_for :carousel do %>
  <div class="items">

    <div class="page">
      <p class="page-number">01</p>
      <%= image_tag 'carousel/summer-competitions.jpg' %>
      <h2>Upcoming Summer Competitions</h2>

      <div class="col">
        <h2>Only <span>$60</span> per game per team (5's) <span>$84</span> (7's)</h2><br />
        <%= link_to 'Join a League', new_contact_path(contact: {subject: 'Join a League Interest'}), :class => 'button' %>
      </div>

      <div class="col extended">
        <ul>
          <li>Men's 5's – Monday, Tuesday, Wednesday, Thursday, Sunday Nights</li>
          <li>Men's 7's – Tuesday, Wednesday and Friday Nights</li>
          <li>Mixed 5's – Monday and Tuesday Nights</li>
          <li>Mixed 7's – Thursday Night</li>
          <li>Woman's 5's – Wednesday Night</li>
          <li>Over 35's Mens - Thursday and Sunday Night</li>
          <li>Youth Competitions – Friday Nights and Saturday Mornings</li>
        </ul>
      </div>
    </div>

    <div class="page">
      <p class="page-number">02</p>
      <%= image_tag 'carousel/kids.jpg' %>
      <h2>Kids Parties</h2>
      <div class="col">
        <p>Give your child the <span>Wembley experience</span> for their birthday this year! Packages available from $250 per party</p>
        <%= link_to "Download Registration Form", asset_path("/docs/Kids Party Leaflet.pdf"), class: 'button' %>
      </div>
      <div class="col"></div>
    </div>

    <div class="page">
      <p class="page-number">03</p>
      <%= image_tag 'carousel/facilities.jpg' %>
      <div class="more bg"><!-- --></div>
      <%= link_to "Find out more >", facilities_path, :class => 'more' %>
      <h2>Facilities</h2>
      <div class="col">
        <p>We have 8 All Weather five-a-side Pitches and 2 All Weather seven-a-side Pitches</p>
      </div>
      <div class="col">
        <ul>
          <li><span><%= link_to "EPL standard Changing Rooms", facilities_path(:anchor => 'rooms') %></span></li>
          <li><span><%= link_to "Sports Bar", facilities_path(:anchor => 'bar') %></span></li>
          <li><span><%= link_to "five-a-side specific Astroturf", facilities_path(:anchor => 'astroturf') %></span></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div id="sidebar">
  <div class="logos">
    <span class="std"><%= image_tag 'about.jpg' %></span>
    <span class="std noborder"><%= link_to image_tag('logos/pele.png'), 'http://www.pele-sports.com.au/', :target => '_blank' %></span>
  </div>
</div>

<%= main_content do %>
  <div class="panes">
    <h2>Soccer5<span class="lower">s</span> Australia - Now Open</h2>
    <p>Soccer5s is proud to announce, the opening our first site in Australia. We have 8 five-a-side pitches and 2 seven-a-side pitches. The soccer pitches are in Tuggerah at the Mariners Centre of Excellence. We have formed a unique partnership with the Central Coast Mariners at the development. Soccer5s and the Central Coast Mariners will strive to encourage football development and community involvement throughout the Central Coast. 5-a-sides is great for the entire community and we will provide competitions for men, women and enthusiastic young people and teenagers. Ladies can show off their skills in mixed leagues and prove that soccer isn't just for the boys!</p>

    <p>Soccer5s are excited to be involved in the Mariners vision for the development, we look forward to the growth of the beautiful game in the Central Coast and throughout Australia.</p>
    <p>John Smith<br />
    Operations Director</p>
      <p class="forward"><%= link_to '> Find out more', facilities_path %></p>
  </div>
<% end %>