<% content_for :slogan do %>
  <%= render :partial => '/shared/enhanced_slogan' %>
<% end %>

<% content_for :banner do %>
  <div class="info bg"></div>
  <div class="info">
    <p>We Can Take Advanced Bookings Online or Call Us On</p>
    <p class="notice">08234 1234 5678</p>
  </div>
<% end %>

<% content_for :carousel do %>
  <div class="items">
    <div class="page">
      <p class="page-number">01</p>
      <%= image_tag 'carousel/what.jpg' %>
      <h2>What is <span>5-a-side</span></h2>
      <div class="col">
        <p>Five a side football is a phenomenon which began and Scotland and took over in the UK as the highest regular participation sport for men aged 18-50.</p>        
      </div>
      <div class="col">
        <p>
        This game is fast, furious and fun. This game allows players to develop ball control and tactical awareness, it can be played by people of varying skill set. You can play anyway you want leagues, tournaments, casual games and even club training.</p>
      </div>
    </div>
		<div class="page">
		  <p class="page-number">02</p>
		  <%= image_tag 'carousel/kids.jpg' %>
		  <h2>Kids <span>Parties</span></h2>
		  <div class="col">
		    <p>Packages can be styled to suit each parties individual needs.</p>
		  </div>
		  <div class="col">
		    <ul>
		      <li><span>Some Bullet point</span></li>
		      <li><span>Some Bullet point</span></li>
		      <li><span>Some Bullet point</span></li>
		      <li><span>Some Bullet point</span></li>
		  </div>
		</div>
		<div class="page">
		  <p class="page-number">03</p>
		  <%= image_tag 'carousel/facilities.jpg' %>
		  <h2>Facilities</h2>
		  <div class="col">
		  </div>
		  <div class="col">
		  </div>
		</div>
  </div>
<% end %>

<div id="home-body">
  <%= image_tag '/images/about.jpg', :class => 'page-body', :style => 'float:right;margin-top:0;margin-left:10px'%>
  <h2>Welcome to Soccer 5S</h2>
  <p>Five a side football is a phenomenon which began and Scotland and took over in the UK as the highest regular participation sport for men aged 18-50.</p>
  <p>This game is fast, furious and fun. This game allows players to develop ball control and tactical awareness, it can be played by people of varying skill set. You can play anyway you want leagues, tournaments, casual games and even club training.</p>
  <p>Soccer5s are committed to providing Australians with an incredible sporting experience.</p>
</div>