<!DOCTYPE html>
<html>
<head>
  <title>Soccer5s</title>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19297403-1']);
    _gaq.push(['_trackPageview']);
  </script>
  
  <%= include_stylesheets :soccer5s %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= page %>" class="<%= section %>">
  <div id="content">
    <%= render :partial => 'shared/main_menu' %>
    
    <div id="banner">
      <div id="logo"><img src="/images/logos/white-trans.png" alt="logo" /></div>
      <%= content_for :slogan %>
      <%= content_for :banner %>
    </div>
    
    <% if content_for? :carousel %>
      <div id="carousel">
        
        <div class="navi">
          <a href="#first" class="active">1</a>
          <a href="#second">2</a>
          <a href="#third">3</a>
        </div>
        
        <button class="prev browse">Previous</button>
        <div class="scrollable">
          <%= content_for :carousel %>
        </div>
        <button class="next browse">Next</button>
      </div>
    <% end %>
    
    <div id="body">
      <% if content_for? :sidebar %>
        <div id="sidebar">
          <div class="wrap"><%= content_for :sidebar %></div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
    <div id="footer">
      <%= link_to raw("&copy; Soccer5s 2010"), "#" %> |
      <%= link_to "Contact", new_contact_path %> |
      <%= link_to "Careers", new_contact_path %> |
      <%= link_to "Corporate Site", new_contact_path %>
      <div class="social">
        <%= link_to image_tag('logos/facebook-icon.png'), 'http://www.facebook.com/pages/Soccer5s/124555744270317' %>
        <%= link_to image_tag('logos/twitter-icon.png'), 'http://twitter.com/soccer5s' %>
      </div>
    </div>
    
  </div>
</body>

<%= javascript_include_tag 'http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js' %>
<%= include_javascripts :soccer5s %>

<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

</html>
